@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Secret_Words</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Secret Words</a>

                <ul id="slide-out" class="side-nav">
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Home/Word">Words</a></li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            @RenderBody()
            <hr />
        </div>
    </main>
    <footer>
        <p class="center">&copy; @DateTime.Now.Year - Secret_Words</p>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
